.example-card {
    max-width: 100%;
    margin: 10px;
}

.expand-section {
    max-width: 100%;
    margin: 70px 10px 10px 10px;
}

.expand-table {
    width: 100%;
}

.rounded-image {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.ml-a {
    margin-left: auto;
}

.mr-20 {
    margin-right: 20px;
}

.button-info {
    color: #1864b7;
}

.button-danger {
    color: #bf0303;
}

.width-15 {
    width: 15%;
}

.width-10 {
    width: 10%;
}


table td {

    text-align: left;
}

table th {

    text-align: left;
}

.text-center {
    text-align: center !important;
}