<section  class="account-container expand-section" fxLayout='column'>
	
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Show Product</mat-card-title>
            <mat-card-subtitle>form</mat-card-subtitle>
            <mat-card-actions class="ml-a" align="end">
                
                
            </mat-card-actions>
        </mat-card-header>
        
        <mat-card-content>
            <form [formGroup]="productFormType" novalidate autocomplete="off" fxLayout="column">

                <!--title-->
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h3>Product</h3>

                    <span fxFlex></span>
                </div>


                <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <!-- Product Sku -->
                    <mat-form-field fxFlex>
                        <input formControlName="sku" type="text" autofocus matInput placeholder="SKU">
                        <mat-error>
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <!-- Product name -->
                    <mat-form-field fxFlex>
                        <input formControlName="productName" matInput type="text" placeholder="Product Name">
                        <mat-error>
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="left center">
                    <!-- Product description -->
                    <mat-form-field fxFlex>
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput></textarea>
                        
                        <mat-error>
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                </div>
                <!--action buttons-->
                <div fxLayout="row" class="action-buttons" fxLayoutAlign="start center">
                    <span fxFlex></span>
                    <button (click)="editProduct()" [disabled]="sigleSaveButtonDisableControl" mat-raised-button color="primary" class="submit-button" type="button">
                        Edit Product
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>